/* Стили "Подвала" */
footer{
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-content img{
    width: 5%;
    height: auto;
    margin-left: 10%;
}

.footer-content h1{    
    font-size: 30px;
    font-weight: bold;
}

footer span{
    font-family: 'BerlinType';
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
}