.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff99;
}

.modal-container {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 60%;
    min-width: 350px;
    min-height: 300px;
    padding: 50px;
    border-radius: 50px;
    background: #bcbcbc;
}

.modal-container_img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-radius: 30px;
}

.modal-container_img img {
    width: auto;
    height: 100%;
    border-radius: 30px;
}

.modal-container h1 {
    font-family: "BerlinTypeBold";
    font-size: 30px;
    margin: 10px 0px;
}

.modal-container h2 {
    font-family: "BerlinType";
    font-size: 16px;
}

.modal-container_controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-container_tool-bar {
    height: auto;
    margin: 5px 0px;
}

.modal-container_tool-bar__repeate {
    width: 10px;
    height: 10px;
    background: url('../images/tool-bar/repeat.png') 0% 0%/ 100% 100% no-repeat;
}

.modal-container_btn_action {
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: 1s all;
}

.modal-container_pp {
    font-size: 3rem;
}

.modal-container_btn_action:hover {
    color: rgba(188, 158, 158, 0.9);
}

.modal-container_navigation {
    width: 90%;
    height: 5px;
    margin: 15px 0px;
}

.modal-container_navigation_wrapper {
    min-width: 100%;
    background-color: rgba(119, 119, 119, 0.781);
    height: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.modal-container_seek_bar {
    width: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}